@charset "utf-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fas,
.fab {
  font-family: fontawesome;
}

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__main {
  padding: 15px 0 15px 0;
  box-sizing: border-box;
}

.header__main__right {
  float: right;
  padding: 15px;
}

.header__main__left {
  float: left;
}

.header__main__right__button {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 14px 12px;
  background: #74cfae;
  outline: none;
}

.body {
  background: #f2f2f2;
}

.body-title {
  padding: 250px 0;
}

.body-title__text-h1 {
  text-align: center;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.body-title__text-p {
  font-size: 30px;
  text-align: center;
  color: #c0c0c0;
}

.body-phon {
  background: #74cfae;
  padding-top: 50px;
}

.body-phon__left {
  float:left;
  padding-left: 90px;
}

.body-phon__right {
  float: right;
  width: 60%;
  text-align: center;
  color: #fff;
}


.body-phon__right h1 {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.body-phon__right p {
  font-family: Lato;
  font-size: 20px;
}

.body-our-work {
  padding: 70px 0;
}

.body-our-work__text {
  font-family: Raleway;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.body-our-work__box {
  font-size: 0;
}

.body-our-work__box_img {
  display: inline-block;
  opacity: 0.7;
  margin-left: 100px;
  transition: 0.3s;
}

.body-our-work__box_img:hover {
  opacity: 1;
}

.body-our-work__box_img:first-child,
 .body-our-work__box_img:nth-child(4) {
  margin-left: 0;
}

.body-our-work__box_img:nth-child(-n+3) {
  margin-bottom: 80px;
}

.body-our-work__box_img:nth-child(n+4) {
  margin-bottom: 90px;
}

.body-our-work__bottom {
  text-align: center;
}

.body-our-work__bottom__left {
  font-family: Lato;
  vertical-align: middle;
  color: #333;
  display: inline-block;
  width: 50%;
  margin-right: 90px;
}

.body-our-work__bottom__right {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  padding: 14px 20px;
  font-size:12px;
  background: #74cfae;
  color: #fff;
  transition: 0.3s;
  outline: none;
}

.body-our-work__bottom__right:hover {
  color: #333 ;
}

.body-our-skill {
  background: #4e4e4e;
}

.body-our-skill__main {
  box-sizing: border-box;
  padding: 70px 0 100px 0;
  text-align: center;
  color: #fff;
}

.body-our-skill__main p {
  font-family: Raleway;
  margin-bottom: 30px;
}

.body-our-skill-box {
  display: inline-block;
  margin-left: 180px;
  color: #fff;
  text-align: center;
}

.body-our-skill-box:first-child {
  margin-left: 0;
}

.body-our-skill-box figcaption {
  margin-top: 10px;
  font-size: 16px;
}

.body-bottom {
  padding: 200px 0;
}

.body-bottom__main {
  text-align: center;
  font-size: 0;
}

.body-bottom-table {
  font-size: 20px;
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  width: 185px;
  color: #74cfae;
  transition: 0.3s;
}

.body-bottom-table:hover {
  background: #fff;
}

.body-bottom-table:active {
  background: #000;
}

.footer {
  background: #74cfae;
}

.footer__main {
  padding: 20px 0 25px 0;
}

.fotter__main-right {
  font-weight: bold;
  color: #fff;
  padding-left: 70%;
}